*{
    margin: 10px;
    padding: 0;
}

.perfil {
    box-sizing: border-box;
    margin: 10px;
    display:inline-block;
}


.img-perfil {
    width: 30px;
    height: 25px;
}

.titulo-vaga{
    text-align: center;
}


.card-missao{
     background-color: #ffffff;
    width: 100%;
    max-width:850px;
    justify-self: center;
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: 0 0 0 20px rgb(107, 239, 13);
    overflow: auto;
}

.missao{
    text-align: center;
}

#descricao-vaga{
    text-align: none;

}

.cadastro a {
    color:black;
    font-size: large;
    display:inline-block;
    border-width: 5px;
    border-style: outset;
    border-color: blueviolet;
    justify-self: center;
}


.rodape {
}